@tailwind base;
@tailwind components;
@tailwind utilities;



.link a:after {

  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.link a:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

@media screen and (max-width:770px) {
  .link a:hover:after {
    display: none;
  }
}

button {
  outline: none;
}